@charset "UTF-8";
/* Colores */
/* Letras */
/* Tamaños */
/* /* Extend */
.background-centrado, .portada__principal, .contacto__portada, .habitacion__portada, .servicios__portada {
  background-size: cover;
  background-position: center; }

.flex-centrado, footer .footer__redes, .principal__card, .portada__boton, .contacto__portada h1, .contacto__mapa, .habitacion__portada h1, .habitacion__info, .servicios__portada h1 {
  display: flex;
  justify-content: center;
  align-items: center; }

.text-centrado, .galeria__portada h1, .formulario__titulo, .formulario__subtitulo, .formulario__texto, .principal__titulo, .principal__texto, .accordion-item, .accordion-button, .contacto__portada h1, .servicios__portada h1 {
  text-align: center; }

header {
  top: 0px; }
  header .header__nav {
    background-color: #a8b4bd;
    display: flex;
    position: static;
    flex-wrap: wrap; }
  header .header__lista {
    display: flex;
    list-style: none;
    padding: 0px 16px;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
    flex-grow: 1; }
  header .header__item {
    font-family: "Playfair Display", serif;
    font-size: 16px;
    display: inline;
    font-weight: bold;
    letter-spacing: 1px;
    position: sticky;
    top: 0px;
    padding: 5px; }
  header .header__item a {
    color: #2c3042;
    text-decoration: none; }
  header .nav-link::before {
    content: "";
    display: block;
    position: absolute;
    top: 30px;
    width: 1px;
    height: 10px; }
  header .nav-link:hover::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 30px;
    width: 80%;
    height: 10px;
    border-bottom: 3px solid #b68973;
    transition: all 0.5s; }

/* Grid  */
.galeria {
  height: auto; }
  .galeria__portada {
    display: grid;
    height: 20vh;
    background-image: url("../resources/galeria-encabezado.jpg");
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto; }
  .galeria__portada h1 {
    color: white;
    font-family: "Playfair Display", serif;
    font-size: 60px;
    grid-column: 2/3;
    grid-row: 2/2; }
  .galeria__subtitulo {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px; }
  .galeria__contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .galeria__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    margin-bottom: 16px; }
  .galeria__imagen img {
    width: 400px;
    height: 600px;
    border-radius: 5px; }
  .galeria__imagen img:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.9s; }
  .galeria__redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px; }
  .galeria__iconos {
    width: 200px;
    height: 200px;
    margin-bottom: 16px; }

.formulario {
  color: #b68973; }
  .formulario__titulo {
    color: #2c3042;
    margin-bottom: 30px; }
  .formulario__subtitulo {
    color: black;
    font-size: 20px;
    font-family: "Playfair Display", serif;
    line-height: 25px;
    letter-spacing: 0px;
    margin-top: 20px; }
  .formulario__texto {
    color: black;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    line-height: 45px;
    letter-spacing: 2px;
    margin-top: 20px; }

footer {
  background-color: #2c3042;
  display: grid;
  grid-template-areas: "contacto enlaces redes" "contacto enlaces derechos";
  padding: 24px; }
  footer .footer__titulo {
    color: white;
    text-shadow: 3px 2px 3px black;
    font-size: 16px;
    text-align: center;
    padding-bottom: 16px; }
  footer .footer__enlaces {
    grid-area: enlaces; }
  footer .footer__redes {
    grid-area: redes; }
  footer .footer__derechos {
    grid-area: derechos;
    color: #b4aaaa; }
  footer .footer__redes p {
    font-size: 16px; }
  footer .footer__iconos {
    width: 45px;
    height: 45px;
    margin: 12px; }
  footer .footer__item {
    color: #b4aaaa;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 30px;
    text-align: justify; }

ul {
  list-style: none;
  color: white; }

a {
  text-decoration: none;
  color: white; }

h1 {
  color: #b68973;
  font-size: 35px;
  font-family: "Playfair Display", serif;
  text-shadow: 2px 1px 2px black;
  text-align: center;
  letter-spacing: 5px;
  margin-bottom: 30px; }

h2 {
  color: #b68973;
  font-family: "Playfair Display", serif;
  font-size: 25px;
  text-align: center;
  letter-spacing: 3px;
  margin-bottom: 20px; }

h3 {
  color: #2c3042;
  font-size: 16px;
  text-align: center;
  letter-spacing: 2px;
  word-spacing: 3px;
  padding: 16px; }

span {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  letter-spacing: 1px; }

* {
  margin: 0px;
  /* margen externo */
  padding: 0px;
  /* margen interno */ }

button {
  width: 100px;
  height: 50px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  background-color: #2c3042;
  color: white;
  border: solid 1px;
  border-radius: 16px;
  cursor: pointer;
  text-transform: uppercase;
  transition: .3s ease all; }
  button:hover {
    background-color: #b68973;
    transform: scale(1.15, 1.15); }

.principal {
  height: 80vh; }
  .principal__tarjetas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    margin: 20px; }
  .principal__servicios {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .principal__card {
    height: 600px;
    font-family: "Playfair Display", serif;
    flex-direction: column;
    gap: 30px;
    border-style: none;
    padding: 10px; }
  .principal__titulo {
    color: black;
    font-size: 20px;
    font-family: "Playfair Display", serif;
    margin-bottom: 10px; }
  .principal__texto {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-align: left;
    padding: 0 1rem;
    line-height: 20px;
    margin: 10px 10px 10px 0px; }

.portada {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px; }
  .portada__principal {
    display: grid;
    height: 90vh;
    background-image: url("../resources/portada.jpg");
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-bottom: 20px; }
  .portada__titulo {
    color: black;
    font-size: 30px;
    font-family: "Playfair Display", serif;
    text-align: center;
    text-shadow: 1px 1px 2px black; }
  .portada__parrafo {
    width: 50vw;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    text-align: justify;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 25px;
    padding: 30px; }
  .portada__imagen img {
    width: 450px;
    height: 400px;
    margin: 20px 0px 20px 0px; }
  .portada__boton {
    grid-column: 2/3;
    grid-row: auto;
    margin-bottom: 30px; }
  .portada__boton button {
    width: 120px;
    height: 40px; }
  .portada__subtitulo {
    font-size: 18px;
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin: 20px 0px 5px 0px; }

.contacto {
  height: 80vh; }
  .contacto__portada {
    display: grid;
    height: 90vh;
    background-image: url("../resources/escritorio-recepcion.jpg");
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-bottom: 20px; }
  .contacto__portada h1 {
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    text-shadow: 2px 2px 2px black;
    grid-column: 2/3;
    grid-row: 1/2; }
  .contacto__datos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px; }
  .contacto__titulo {
    color: #2c3042;
    font-size: 20px;
    font-family: "Playfair Display", serif;
    text-align: center; }
  .contacto__subtitulo {
    color: #2c3042;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-align: center; }
  .contacto__mapa {
    flex-direction: row;
    margin-bottom: 30px; }
  .contacto__mapa {
    width: 600px;
    height: 400px; }

.habitacion {
  height: 50vh; }
  .habitacion__portada {
    display: grid;
    height: 90vh;
    background-image: url("../resources/habitacion-titulo.jpg");
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    border-color: black;
    margin-bottom: 30px; }
  .habitacion__portada h1 {
    color: white;
    font-family: "Playfair Display", serif;
    font-size: 60px;
    text-align: center;
    text-shadow: 2px 2px 2px gray;
    grid-column: 2/3;
    grid-row: 1/2; }
  .habitacion__info {
    flex-direction: column;
    padding: 20px; }
  .habitacion__info h1 {
    color: black;
    font-size: 40px;
    font-family: "Playfair Display", serif;
    text-shadow: 2px 2px 2px gray; }
  .habitacion__info p {
    width: 70vw;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    text-align: justify;
    line-height: 30px;
    letter-spacing: 1px; }
  .habitacion__horarios {
    color: black;
    display: flex;
    flex-direction: row;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 2px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 20px; }
  .habitacion__card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px; }

.servicios {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .servicios__portada {
    display: grid;
    height: 20vh;
    background-image: url("../resources/contacto.jpg");
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-bottom: 20px; }
  .servicios__portada h1 {
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    text-shadow: 2px 2px 2px black;
    grid-column: 2/3;
    grid-row: 1/2; }
  .servicios__titulo {
    color: black;
    font-size: 30px;
    font-family: "Playfair Display", serif;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    margin-top: 20px; }
  .servicios__texto {
    color: gray;
    font-family: "Roboto", sans-serif;
    padding: 16px;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-align: justify; }
  .servicios__imagen {
    width: 680px;
    height: 550px;
    padding: 10px;
    border-radius: 20px; }
  .servicios__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    display: flex;
    justify-content: center;
    align-items: center; }
  .servicios__grid h2 {
    color: #2c3042;
    font-size: 30px;
    font-family: "Playfair Display", serif; }
  .servicios__grid p {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    text-align: justify;
    line-height: 20px;
    padding: 10px; }

/* MEDIA QUERIE DE CELULAR */
@media (min-width: 320px) and (max-width: 575px) {
  header {
    height: auto; }
  .header__nav {
    flex-direction: column; }
  .header__item {
    padding: 5px; }
  .header__lista {
    flex-direction: column;
    flex-grow: 0;
    justify-content: center;
    align-items: center; }
  /* Index */
  .portada__principal {
    display: grid;
    height: 60vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 20px; }
  .portada__informacion h1 {
    font-size: 30px;
    color: black;
    font-family: 'Playfair Display', serif; }
  .portada__informacion p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0px;
    text-align: justify;
    line-height: 20px; }
  .portada__contenido {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px; }
  .portada__informacion p {
    width: 80vw;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    text-align: justify;
    line-height: 30px; }
  .portada__contenido img {
    width: 300px;
    height: 200px;
    padding: 16px; }
  .portada__boton {
    grid-column: 1/1;
    grid-row: 1/1;
    margin-bottom: 10px; }
  .portada__boton button {
    width: 100px;
    height: 50px; }
  /* Cards */
  .principal__tarjetas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 0px; }
  /* footer */
  footer {
    display: block;
    padding: 0px;
    margin: 0px; }
  .footer {
    display: grid;
    grid-template-areas: "contacto" "enlaces" "redes" "derechos"; }
  .footer__titulo {
    font-size: 12px;
    text-align: center;
    padding: 5px; }
  .footer__item {
    font-size: 10px; }
  .footer__iconos {
    width: 30px;
    height: 30px;
    margin: 12px; }
  .footer__redes p {
    font-size: 10px; }
  /* Habitaciones */
  .habitacion__portada {
    display: grid;
    height: 20vh;
    background-size: cover;
    background-position: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; }
  .habitacion__portada h1 {
    font-family: "Open Sans", sans-serif;
    grid-column: 1/3;
    grid-row: 1/2;
    color: white;
    text-shadow: 2px 1px 2px black;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .habitacion__info {
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center; }
  .habitacion__info h2 {
    font-size: 20px; }
  .habitacion__info p {
    width: 100vw;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    line-height: 30px;
    padding: 16px; }
  .habitacion__horarios {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin-bottom: 16px; }
  .habitacion__galeria {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .habitacion__imagen {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; }
  .habitacion__imagen img {
    width: 100vw;
    height: auto;
    padding: 16px; }
  /* Galeria */
  .galeria__portada {
    display: grid;
    height: 20vh;
    background-size: cover;
    background-position: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; }
  .galeria__portada h1 {
    font-family: "Open Sans", sans-serif;
    grid-column: 1/3;
    grid-row: 1/2;
    color: white;
    text-shadow: 2px 1px 2px black;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .galeria__contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .galeria__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; }
  .galeria__imagen img {
    width: 100vw;
    height: 500px;
    padding: 10px; }
  /* Servicios */
  .servicios__portada {
    display: grid;
    height: 20vh;
    background-size: cover;
    background-position: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; }
  .servicios__portada h1 {
    font-family: "Open Sans", sans-serif;
    grid-column: 1/3;
    grid-row: 1/2;
    color: white;
    text-shadow: 2px 1px 2px black;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .servicios__imagen {
    width: 100vw;
    height: auto;
    padding: 16px;
    border-radius: 30px; }
  .servicios__grid {
    display: grid;
    grid-template-columns: 2fr;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .servicios__grid h2 {
    color: black;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif; }
  .servicios__grid p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    line-height: 20px;
    padding: 16px; }
  /* Contacto */
  .contacto__portada {
    display: grid;
    height: 20vh;
    background-size: cover;
    background-position: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; }
  .contacto__portada h1 {
    font-family: "Open Sans", sans-serif;
    grid-column: 1/3;
    grid-row: 1/2;
    color: white;
    text-shadow: 2px 1px 2px black;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .contacto__datos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px; }
  .contacto__datos img {
    width: 100vw;
    height: auto;
    border-radius: 20px;
    padding: 10px; }
  .contacto__mapa {
    width: 100vw;
    height: 100vw;
    padding: 16px; }
  .contacto__subtitulo {
    padding: 10px; }
  .formulario__titulo {
    font-size: 16px; }
  .formulario__texto {
    font-size: 16px;
    line-height: 20px; } }

/* MEDIA QUERIE DE TABLET */
@media (min-width: 576px) and (max-width: 992px) {
  .portada__principal {
    display: grid;
    height: 60vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 20px; }
  .portada__contenido {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px; }
  .portada__informacion p {
    width: 100vw;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    text-align: justify;
    line-height: 30px;
    padding: 20px; }
  .portada__contenido img {
    width: 500px;
    height: 400px;
    padding: 16px; }
  .portada__boton {
    grid-column: 1/3;
    grid-row: 1/3;
    margin-bottom: 10px; }
  /* Footer */
  footer {
    display: block;
    padding: 0px;
    margin: 0px; }
  .footer {
    display: grid;
    grid-template-areas: "contacto" "enlaces" "redes" "derechos"; }
  .footer__titulo {
    font-size: 16px;
    text-align: center;
    padding: 16px; }
  .footer__item {
    font-size: 16px; }
  .footer__iconos {
    width: 50px;
    height: 50px;
    margin: 12px; }
  /* Habitaciones */
  .habitacion__portada {
    display: grid;
    height: 60vh;
    background-size: cover;
    background-position: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; }
  .habitacion__portada h1 {
    font-family: "Open Sans", sans-serif;
    grid-column: 1/2;
    grid-row: 1/2;
    color: black;
    text-shadow: 2px 1px 2px black;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .habitacion__info {
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center; }
  .habitacion__info h2 {
    font-size: 20px; }
  .habitacion__info p {
    width: 100vw;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    line-height: 30px;
    padding: 16px; }
  .habitacion__horarios {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    padding: 20px; }
  .habitacion__galeria {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .habitacion__imagen {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; }
  .habitacion__imagen img {
    width: 100vw;
    height: auto;
    padding: 16px; }
  .habitacion__card {
    display: flex;
    flex-direction: column; }
  /* Galeria */
  .galeria__portada {
    display: grid;
    height: 20vh;
    background-size: cover;
    background-position: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; }
  .galeria__portada h1 {
    font-family: "Open Sans", sans-serif;
    grid-column: 1/3;
    grid-row: 1/2;
    color: black;
    text-shadow: 2px 1px 2px black;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .galeria__contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .galeria__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; }
  .galeria__imagen img {
    width: 100vw;
    height: 800px;
    padding: 20px; }
  /* Servicios */
  .servicios__portada {
    display: grid;
    height: 60vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; }
  .servicios__portada h1 {
    font-family: "Open Sans", sans-serif;
    grid-column: 1/2;
    grid-row: 1/2;
    color: black;
    font-size: 40px; }
  .servicios__imagen {
    width: 100vw;
    height: auto;
    padding: 16px;
    border-radius: 30px; }
  .servicios__grid {
    display: grid;
    grid-template-columns: 2fr;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .servicios__grid h2 {
    color: black;
    font-size: 30px; }
  .servicios__grid p {
    font-size: 25px;
    text-align: justify;
    line-height: 30px;
    padding: 16px; }
  /* Contacto */
  .contacto__portada {
    display: grid;
    height: 40vh;
    background-size: cover;
    background-position: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; }
  .contacto__portada h1 {
    font-family: "Open Sans", sans-serif;
    grid-column: 1/3;
    grid-row: 1/2;
    color: black;
    text-shadow: 2px 1px 2px black;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .contacto__datos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px; }
  .contacto__datos img {
    width: 100vw;
    height: auto;
    border-radius: 20px;
    padding: 16px; }
  .contacto__mapa {
    width: 100vw;
    height: 100vw;
    padding: 16px; }
  .contacto__subtitulo {
    padding: 16px; }
  .formulario__titulo {
    font-size: 24px; }
  .formulario__texto {
    font-size: 20px;
    line-height: 20px; } }

/* MEDIA QUERIE DE DESKTOP */
