/* MEDIA QUERIE DE CELULAR */
@media (min-width : 320px) and (max-width: 575px) {

    header{
        height: auto;
    }

    .header__nav{
        flex-direction: column;
    }

    .header__item{
        padding: 5px;
    }

    .header__lista{
        flex-direction: column;
        flex-grow: 0;
        justify-content: center;
        align-items: center;
    }



    /* Index */

    .portada__principal{
        display: grid;
        height: 30vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin-bottom: 20px;
    }

    .portada__informacion h1{
        font-size: 30px;
        color: black;
        font-family: 'Playfair Display', serif;

    }
    .portada__informacion p{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        letter-spacing: 0px;
        text-align: justify;
        line-height: 20px;

    }

    .portada__contenido{
    width: 100vw;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 16px;
}


    .portada__contenido img{
        width: 100vw;
        height: 400px;
        border-radius: 16px;
        padding: 16px;
    }

    .portada__boton {
        grid-column: 1/1;
        grid-row: 1/1;
        margin-bottom: 10px;
    }

    .portada__boton button {
        width: 90px;
        height: 50px;
    }



/* Cards */

    .principal__tarjetas{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin:0px

}

    /* footer */

    footer{
        display: block;
        padding: 0px;
        margin: 0px;
    }

    .footer{
        display: grid;
        grid-template-areas: "contacto"
                            "enlaces"
                            "redes"
                            "derechos";
    }

    .footer__titulo{
        font-size: 12px;
        text-align: center;
        padding: 5px;
    }

    .footer__item{
        font-size: 10px;
    }

    .footer__iconos{
        width: 30px;
        height: 30px;
        margin: 12px;
    }

    .footer__redes p{
        font-size: 10px;
    }


    /* Habitaciones */


    .habitacion__portada{
        display: grid;
        height: 20vh;
        background-size: cover;
        background-position: center;
        grid-template-columns: 1fr;
        grid-template-rows:1fr;
    }


    .habitacion__portada h1{
        font-family: $font-principal;
        grid-column: 1/3;
        grid-row: 1/2;
        color:white;
        text-shadow: 2px 1px 2px black;
        font-size: 20px;
        display: flex;
        justify-content:center;
        align-items: center;
    }


    .habitacion__info {
        width: 100vw;
        display: flex;
        flex-direction: column;
        padding: 20px;
        justify-content: center;
        align-items: center;
    }

    .habitacion__info h2{
        font-size: 20px;
    }

    .habitacion__info p{
        width: 100vw;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        text-align: justify;
        line-height: 30px;
        padding: 16px;

    }

    .habitacion__horarios{
        display: flex;
        flex-direction: column;
        font-size: 16px;
        margin-bottom: 16px;
    }

    .habitacion__galeria{
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    


    .habitacion__imagen{
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 1fr;
    }
    
    .habitacion__imagen img{
        width: 100vw;
        height: auto;
        padding: 16px;
    }



    /* Galeria */

    .galeria__portada{
        display: grid;
        height: 20vh;
        background-size: cover;
        background-position: center;
        grid-template-columns: 1fr;
        grid-template-rows:1fr;
    }

    .galeria__portada h1{
        font-family: $font-principal;
        grid-column: 1/3;
        grid-row: 1/2;
        color:white;
        text-shadow: 2px 1px 2px black;
        font-size: 20px;
        display: flex;
        justify-content:center;
        align-items: center;

    }

    .galeria__contenedor{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .galeria__grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:1fr;

    }
    .galeria__imagen img{
        width: 100vw;
        height: 500px;
        padding: 10px;
    }


    /* Servicios */


    .servicios__portada{    
        display: grid;
        height: 20vh;
        background-size: cover;
        background-position: center;
        grid-template-columns: 1fr;
        grid-template-rows:1fr;

    }

    .servicios__portada h1{
        font-family: $font-principal;
        grid-column: 1/3;
        grid-row: 1/2;
        color:white;
        text-shadow: 2px 1px 2px black;
        font-size: 20px;
        display: flex;
        justify-content:center;
        align-items: center;
    }

    
    .servicios__imagen{
        width: 100vw;
        height: auto;
        padding: 16px;
        border-radius: 30px;
    }


    .servicios__grid{
        display: grid;
        grid-template-columns: 2fr ;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .servicios__grid h2{
        color: black;
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;


    }

    .servicios__grid p{
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        text-align: justify;
        line-height: 20px;
        padding: 16px;
    }

    /* Contacto */

    .contacto__portada{
        display: grid;
        height: 20vh;
        background-size: cover;
        background-position: center;
        grid-template-columns: 1fr;
        grid-template-rows:1fr;
    }

    .contacto__portada h1{
        font-family: $font-principal;
        grid-column: 1/3;
        grid-row: 1/2;
        color:white;
        text-shadow: 2px 1px 2px black;
        font-size: 20px;
        display: flex;
        justify-content:center;
        align-items: center;

    }
    .contacto__datos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap:30px;
    }

    .contacto__datos img{
        width: 100vw;
        height: auto;
        border-radius: 20px;
        padding: 10px;
    }

    .contacto__mapa {
        width: 100vw;
        height: 100vw;
        padding: 16px;
    }

    .contacto__subtitulo{
        padding: 10px;
    }


    .formulario__titulo{
        font-size: 16px;
    }
    .formulario__texto{
        font-size: 16px;
        line-height: 20px;
    }


/* MEDIA QUERIE DE TABLET */
@media (min-width : 576px) and (max-width: 992px) {
    /* Index */

    
    .portada__principal{
        display: grid;
        height: 20vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin-bottom: 20px;
    }

    .portada__informacion h1{
        font-size: 30px;
        color: black;
        font-family: 'Playfair Display', serif;

    }
    .portada__informacion p{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        letter-spacing: 0px;
        text-align: justify;
        line-height: 20px;

    }

    .portada__contenido{
    width: 30vw;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 16px;
}


.portada__contenido img{
    width: 500px;
    height: 500px;
    border-radius: 10px;
}

.portada__boton {
    grid-column: 1/1;
    grid-row: 1/1;
    margin-bottom: 10px;
}

.portada__boton button {
    width: 90px;
    height: 50px;
}



    .principal__tarjetas{
        display: grid;  
        grid-template-columns: 1fr;
        grid-template-rows: 1fr ;
        gap:10px;
        margin:10px;
        justify-content: center;
        align-items: center;
    }


        /* Habitaciones */

        .habitacion__portada{
            display: grid;
            height: 20vh;
            background-size: cover;
            background-position: center;
            grid-template-columns: 1fr;
            grid-template-rows:1fr;
        }
    
    
        .habitacion__portada h1{
            font-family: $font-principal;
            grid-column: 1/3;
            grid-row: 1/2;
            color:white;
            text-shadow: 2px 1px 2px black;
            font-size: 20px;
            display: flex;
            justify-content:center;
            align-items: center;
        }
    
        .habitacion__info {
            width: 100vw;
            display: flex;
            flex-direction: column;
            padding: 20px;
            justify-content: center;
            align-items: center;
        }
    
        .habitacion__info h2{
            font-size: 20px;
        }
    
        .habitacion__info p{
            width: 100vw;
            font-size: 16px;
            font-family: 'Roboto', sans-serif;
            text-align: justify;
            line-height: 30px;
            padding: 16px;
    
        }
    
        .habitacion__horarios{
            display: flex;
            flex-direction: column;
            font-size: 16px;
            margin-bottom: 16px;
        }
    
        .habitacion__galeria{
            width: 50vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        /* Galeria */

        .galeria__portada{
            display: grid;
            height: 20vh;
            background-size: cover;
            background-position: center;
            grid-template-columns: 1fr;
            grid-template-rows:1fr;
        }
    
        .galeria__portada h1{
            font-family: $font-principal;
            grid-column: 1/3;
            grid-row: 1/2;
            color:white;
            text-shadow: 2px 1px 2px black;
            font-size: 20px;
            display: flex;
            justify-content:center;
            align-items: center;
    
        }
    
        .galeria__contenedor{
            display: flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;
        }

        .galeria__grid{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows:1fr;
    
        }
        .galeria__imagen img{
            width: 50vw;
            height: 500px;
            padding: 10px;
        }
    
    
    /* Servicios */


    .servicios__portada{    
        display: grid;
        height: 20vh;
        background-size: cover;
        background-position: center;
        grid-template-columns: 1fr;
        grid-template-rows:1fr;

    }

    .servicios__portada h1{
        font-family: $font-principal;
        grid-column: 1/3;
        grid-row: 1/2;
        color:white;
        text-shadow: 2px 1px 2px black;
        font-size: 20px;
        display: flex;
        justify-content:center;
        align-items: center;
    }

    
    .servicios__imagen{
        width: 100vw;
        height: auto;
        padding: 16px;
        border-radius: 30px;
    }


    .servicios__grid{
        display: grid;
        grid-template-columns: 2fr ;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .servicios__grid h2{
        color: black;
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;


    }

    .servicios__grid p{
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        text-align: justify;
        line-height: 20px;
        padding: 16px;
    }

    /* Contacto */
    .contacto__portada{
        display: grid;
        height: 20vh;
        background-size: cover;
        background-position: center;
        grid-template-columns: 1fr;
        grid-template-rows:1fr;
    }

    .contacto__portada h1{
        font-family: $font-principal;
        grid-column: 1/3;
        grid-row: 1/2;
        color:white;
        text-shadow: 2px 1px 2px black;
        font-size: 20px;
        display: flex;
        justify-content:center;
        align-items: center;

    }
    .contacto__datos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap:30px;
    }

    .contacto__datos img{
        width: 100vw;
        height: auto;
        border-radius: 20px;
        padding: 10px;
    }

    .contacto__mapa {
        width: 100vw;
        height: 100vw;
        padding: 16px;
    }

    .contacto__subtitulo{
        padding: 10px;
    }


    .formulario__titulo{
        font-size: 16px;
    }
    .formulario__texto{
        font-size: 16px;
        line-height: 20px;
    }
}
}

/* /*     /* MEDIA QUERIE DE DESKTOP */
/*     @media (min-width : 992px) and (max-width: 1200px) { */ 
