/* MEDIA QUERIE DE CELULAR */
@media (min-width : 320px) and (max-width: 575px) {

    header{
        height: auto;
    }

    .header__nav{
        flex-direction: column;
    }

    .header__item{
        padding: 5px;
    }

    .header__lista{
        flex-direction: column;
        flex-grow: 0;
        justify-content: center;
        align-items: center;
    }



    /* Index */


    .portada__principal{
    display: grid;
    height: 70vh;
    background-image: url("../resources/portada.jpg");
    background-size: cover;
    background-position: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
    .portada__titulo{
        grid-column: 1/1;
        grid-row: 1/2;
        color:white;
        text-shadow: 2px 1px 2px black;
        font-size: 30px;
        display: flex;
        justify-content:center;
        align-items: center;

}
    .portada__boton{
        grid-column: 1/2;
        grid-row: 2/2;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    .portada__boton button{
        width: 100px;
        height: 40px;
    }


    
    
    .texto{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr ;
        gap:10px;
        margin:10px;
    }

    .ws__imagen{
        width: 60px;
    }

/* Cards */

    .principal__tarjetas{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin:0px

}



    /* footer */



    footer{
        display: block;
        padding: 0px;
        margin: 0px;
    }

    .footer{
        display: grid;
        grid-template-areas: "contacto"
                            "enlaces"
                            "redes"
                            "derechos";
    }

    .footer__titulo{
        font-size: 12px;
        text-align: center;
        padding: 5px;
    }

    .footer__item{
        font-size: 10px;
    }

    .footer__iconos{
        width: 30px;
        height: 30px;
        margin: 12px;
    }

    .footer__redes p{
        font-size: 10px;
    }


    /* Habitaciones */


    .habitacion__portada{
        display: grid;
        height: 20vh;
        background-size: cover;
        background-position: center;
        grid-template-columns: 1fr;
        grid-template-rows:1fr;
    }


    .habitacion__portada h1{
        font-family: $font-principal;
        grid-column: 1/3;
        grid-row: 1/2;
        color:white;
        text-shadow: 2px 1px 2px black;
        font-size: 20px;
        display: flex;
        justify-content:center;
        align-items: center;
    }

    .habitacion__titulo{
        font-family: $font-portadas;
        font-size: 20px;
        color: rgb(182, 137, 115);
        margin-top: 10px;
        text-align: center;
    }


    .habitacion__lista{
        list-style: none;
        line-height: 30px;
        letter-spacing: 1px;
        margin-top: 10px;
        gap: 10px;
        text-align: center;
    }

    .habitacion__imagen{
        width: 95vw;
        height: auto;
        padding: 0px;
    }




    /* Galeria */



    .galeria {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 'entradahotel'
                            'pasillo' 
                            'lobby' 
                            'portada-principal'
                            'mesa'
                            'restaurant'
                            'mesa-desayuno'
                            'desayuno';
        gap:10px;
        padding: 10px;
        margin: 2px;

    }



    .galeria__portada{
        display: grid;
        height: 20vh;
        background-size: cover;
        background-position: center;
        grid-template-columns: 1fr;
        grid-template-rows:1fr;
    }

    .galeria__portada h1{
        font-family: $font-principal;
        grid-column: 1/3;
        grid-row: 1/2;
        color:white;
        text-shadow: 2px 1px 2px black;
        font-size: 20px;
        display: flex;
        justify-content:center;
        align-items: center;

    }




    /* Servicios */



    .servicios__portada{    
        display: grid;
        height: 20vh;
        background-size: cover;
        background-position: center;
        grid-template-columns: 1fr;
        grid-template-rows:1fr;

    }

    .servicios__portada h1{
        font-family: $font-principal;
        grid-column: 1/3;
        grid-row: 1/2;
        color:white;
        text-shadow: 2px 1px 2px black;
        font-size: 20px;
        display: flex;
        justify-content:center;
        align-items: center;
    }

    .servicios__img{
    width: 100vw;
    height: auto;
    }


    .carousel__altura{
    height: 200px;
    margin-bottom: 10px;
    }

    .servicios__texto{
    text-align: center;
    }
    /* Contacto */

    .contacto__portada{
        display: grid;
        height: 20vh;
        background-size: cover;
        background-position: center;
        grid-template-columns: 1fr;
        grid-template-rows:1fr;
    }

    .contacto__portada h1{
        font-family: $font-principal;
        grid-column: 1/3;
        grid-row: 1/2;
        color:white;
        text-shadow: 2px 1px 2px black;
        font-size: 20px;
        display: flex;
        justify-content:center;
        align-items: center;

    }

    .contacto__mapa iframe{
        width: 100vw;
        height: 100vh;
        padding: 10px;
    }
    

    .formulario__titulo{
        font-size: 16px;
    }
    .formulario__texto{
        font-size: 16px;
        line-height: 20px;
    }
}

/* MEDIA QUERIE DE TABLET */
@media (min-width : 576px) and (max-width: 992px) {
    
    .galeria {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 'entradahotel'
                            'pasillo' 
                            'lobby' 
                            'portada-principal'
                            'mesa'
                            'restaurant'
                            'mesa-desayuno'
                            'desayuno';
        gap:10px;
        padding: 10px;
        margin: 2px;

    }

    .principal__tarjetas{
        display: grid;  
        grid-template-columns: 1fr;
        grid-template-rows: 1fr ;
        gap:10px;
        margin:10px;
        justify-content: center;
        align-items: center;
    }


        /* Habitaciones */

        .habitacion__portada{
            display: grid;
            height: 20vh;
            background-size: cover;
            background-position: center;
            grid-template-columns: 1fr;
            grid-template-rows:1fr;
        }
    
    
        .habitacion__portada h1{
            font-family: $font-principal;
            grid-column: 1/3;
            grid-row: 1/2;
            color:white;
            text-shadow: 2px 1px 2px black;
            font-size: 20px;
            display: flex;
            justify-content:center;
            align-items: center;
        }
    
        .habitacion__titulo{
            font-family: $font-portadas;
            font-size: 20px;
            color: rgb(182, 137, 115);
            margin-top: 10px;
            text-align: center;
        }
    
    
        .habitacion__lista{
            list-style: none;
            line-height: 30px;
            letter-spacing: 1px;
            margin-top: 10px;
            gap: 10px;
            text-align: center;
        }
    
        .habitacion__imagen{
            width: 100vw;
            height: auto;
            padding: 10px;
        }


    /* Servicios */


    .servicios__img{
    width: 100vw;
    height: auto;
    padding: 0px;
    }


    .carousel__altura{
    height: 300px;
    margin-bottom: 10px;
    }

    .servicios__texto{
    text-align: center;
    line-height: 30px;
    }

    /* Contacto */

    .contacto__portada{
        display: grid;
        height: 20vh;
        background-size: cover;
        background-position: center;
        grid-template-columns: 1fr;
        grid-template-rows:1fr;
    }

    .contacto__portada h1{
        font-family: $font-principal;
        grid-column: 1/3;
        grid-row: 1/2;
        color:white;
        text-shadow: 2px 1px 2px black;
        font-size: 20px;
        display: flex;
        justify-content:center;
        align-items: center;

    }

    .contacto__mapa iframe{
        width: 100vw;
        height: 100vh;
        padding: 10px;
    }
    

    .formulario__titulo{
        font-size: 16px;
    }
    .formulario__texto{
        font-size: 16px;
        line-height: 20px;
    }
}

/* MEDIA QUERIE DE DESKTOP */
@media (min-width : 992px) and (max-width: 1200px) {
}