/* MEDIA QUERIE DE CELULAR */
@media (min-width: 320px) and (max-width: 575px) {

    /* index */
    header{
        height: auto;
    }
    .header__nav{
        flex-direction: column;
    
    }
    
    .header__item{
        padding: 5px;
    }
    .header__lista{
        flex-direction: column;
        flex-grow: 0;
        justify-content: center;
        align-items: center;
    }

    .portada{
        height: 15vh;
        display: grid;
        background-position: center;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .portada__principal{
        height: 15vh;
        display: grid;
        background-position: center;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .principal__tarjetas{
        display: grid;
        grid-template-columns:  1fr;
        grid-template-rows: auto ;
        gap:20px;
    }

    .portada__titulo {
        grid-column: 1/1;
        grid-row: 1/1;
        font-size: 20px;
        display: flex;
        justify-content:center;
        align-items: center;
        
    }
    

    .portada__texto p{
        color: black;
        font-family: $font-principal;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 2px;
    }

    .portada__boton {
        grid-column: 1/2;
        grid-row: 2/2;
        display: flex;
        justify-content: center;
    
    }
    
    .portada__boton button {
        width: 90px;
        height: 50px;
    }

    .carrousel__altura{
        height: 500px;
    }
    

    .info__texto{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px;
    }

    .texto__contenido{
        font-size: 10px;
    }

    .texto__contenido{
        grid-column: 1/1;
        grid-row: 1/1;
        
        
    }
    
    .info__texto p{
        color:black;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        line-height: 25px;
        text-align: center;
        letter-spacing: 0px;
    }


    .ws__imagen{
        width: 40px;
    }

    .habitacion__portada{
        display: grid;
        height: 10vh;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr ;
    }
    
    .habitacion__portada h1{
        font-size: 30px;
        grid-column: 1/1;
        grid-row: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .habitacion__lista{
        list-style: none;
        line-height: 30px;
        letter-spacing: 1px;
        font-size: 12px;
        text-align: center;
        
    }

    .habitacion__imagen{
        width: 300px;
        height: auto;
        padding: 10px;
    }

    .servicios__portada{
        display: grid;
        height: 20vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr ;
    }
    
    .servicios__portada h1{
        font-size: 25px;
        grid-column: 1/1;
        grid-row: 1/1;
    }


    .contacto__portada{
            height: 15vh;
            background-size: cover;
            grid-template-columns: 1fr ;
            grid-template-rows: 1fr ;
            margin-bottom: 10px;
        }
    
    .contacto__portada h1{
            font-family: $font-portadas;
            font-size: 30px;
            text-align: center;
            text-shadow: 2px 2px 2px gray;
            grid-column: 1/1;
            grid-row: auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
    .contacto__mapa{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
    .contacto__mapa iframe{
            width:400px;
            height: 400px;
            padding: 30px;
        }
    }
    
    
    


    footer{
        display: block;
        padding: 0px;
        margin: 0px;
    }
    .footer{
    display:grid;
    grid-template-areas: "contacto" 
                        "enlaces"
                        "redes"
                        "derechos";
    }
    
    .footer__titulo{
        font-size: 12px;
        text-align: center
    }
    
    .footer__item{
        font-size: 10px;
        line-height: 15px;
    
    }
    
    .footer__iconos {
        width: 30px;
        height: 30px;
        margin: 12px;
    }

    .footer__redes p{
        font-size: 10px;
    }

    /* galeria */
    .galeria {
        width: 80vw;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "pasillo"
                            "habitacion" 
                            "hab-simple" 
                            "cuartodoble"
                            "cuadros" 
                            "desayuno"
                            "mesa-desayuno"
                            "recepcion";
        margin: 30px;
        gap: 20px;
    }
