/* Colores */
$color-principal :white;
$color-secundario : rgb(44, 48, 66); 

/* Letras */
$font-principal: 'Open Sans', sans-serif;
$font-titulos: 'Playfair Display', serif;
$font-portadas: 'Parisienne', cursive;

/* Tamaños */
$tamaño-portada: 30vh;
