.contacto{
    height: 80vh;


    &__portada{
        display: grid;
        height: $tamaño-encabezados;
        background-image:url("../resources/contacto-encabezado.jpg");
        @extend .background-centrado;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 1fr ;
        margin-bottom: 20px;
    }

    &__portada h1{
        color: $color-secundario;
        font-family: $font-portadas;
        font-size: 60px;
        @extend .text-centrado;
        text-shadow: 2px 2px 2px gray;
        grid-column: 2/3;
        grid-row: 1/2;
        @extend .flex-centrado;
    }
    &__datos{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap:30px;
    }

    &__subtitulo{
        color: black;
        font-size: 16px;
    }
    &__mapa{
        @extend .flex-centrado;
        flex-direction: column;
        margin-top: 30px;

    }
    
    &__mapa {
        width:900px;
        height: 500px;

    }

}



