.contacto{
    color: $color-titulo;


    &__portada{
        display: grid;
        height: $tamaño-portada;
        background-image:url("../resources/escritorio-recepcion.jpg");
        @extend .background-centrado;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: auto  ;
        margin-bottom: 20px;
    }

    &__portada h1{
        color: $color-principal;
        font-family:  'Playfair Display', serif;;
        font-size: $portada;
        text-align: center;
        text-shadow: 2px 2px 2px black;
        grid-column: 2/3;
        grid-row: 1/2;
        @extend .flex-columnas;
    }


    &__datos{
        @extend .flex-filas;
        gap:15px;
    }

    &__titulo{
        color: $color-secundario;
        font-size: $subtitulo;
        font-family: $font-titulos;
        text-align: center;
        padding: 16px;

    }

    &__subtitulo{
        color: $color-secundario;
        font-size: 16px;
        font-family: $font-parrafos;
        letter-spacing: 1px;
        word-spacing: 2px;
        text-align: center
    }

    &__mapa{
        @extend .flex-filas;
        margin-bottom: 30px;

    }
    
    }





