.contacto{
    height: 80vh;


    &__portada{
        display: grid;
        height: $tamaño-portada;
        background-image:url("../resources/escritorio-recepcion.jpg");
        @extend .background-centrado;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: auto  ;
        margin-bottom: 20px;
    }

    &__portada h1{
        color: $color-principal;
        font-family:  'Playfair Display', serif;;
        font-size: 60px;
        @extend .text-centrado;
        text-shadow: 2px 2px 2px black;
        grid-column: 2/3;
        grid-row: 1/2;
        @extend .flex-centrado;
    }


    &__datos{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap:30px;
    }

    &__titulo{
        color: $color-secundario;
        font-size: 20px;
        font-family: $font-titulos;
        text-align: center;

    }

    &__subtitulo{
        color: $color-secundario;
        font-size: 16px;
        font-family: $font-parrafos;
        letter-spacing: 1px;
        word-spacing: 2px;
        text-align: center
    }
    &__mapa{
        @extend .flex-centrado;
        flex-direction: row;
        margin-bottom: 30px;

    }
    
    &__mapa {
        width:600px;
        height: 400px;

    }

}



