.habitacion{
    height: 50vh;

    &__portada{
        display: grid;
        height: 90vh;
        background-image:url("../resources/habitacion-titulo.jpg");
        @extend .background-centrado;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 1fr ;
        margin-bottom: 30px;
    }

    &__portada h1{
        color: black;
        font-family: $font-portadas;
        font-size: 60px;
        @extend .text-centrado;
        text-shadow: 2px 2px 2px gray;
        grid-column: 2/3;
        grid-row: 1/2;
        @extend .flex-centrado;
    }

    &__info {
        display: flex;
        flex-direction: column;
        padding: 20px;
        justify-content: center;
        align-items: center;
    }

    &__info h2{
        color: black;
        font-size: 40px;
        font-family: 'Roboto', sans-serif;
        text-shadow: 2px 2px 2px gray;
    }

    &__info p{
        width: 50vw;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        text-align: justify;
        line-height: 30px;

    }


    &__horarios{
        display: flex;
        flex-direction: row;
        font-family: 'Open Sans', sans-serif;
        font-size: 30px;
        font-weight: bolder;
        justify-content: center;
        align-items: center;
        gap:40px;
        margin-top: 20px;
    }


    &__galeria{
        max-width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    
    &__imagen img{
        width: 400px;
        height: 300px;
        border-radius: 3px;
        padding: 16px;
    }
    



}


