.habitacion{
    height: 50vh;

    &__portada{
        display: grid;
        height: $tamaño-portada;
        background-image:url("../resources/habitacion-titulo.jpg");
        @extend .background-centrado;
        grid-template-columns: 1fr 1fr 1fr  ;
        grid-template-rows: auto;
        margin-bottom: 30px;
    }

    &__portada h1{
        color:$color-principal;
        font-family: $font-titulos;
        font-size: $portada;
        text-align: center;
        text-shadow: 2px 2px 2px gray;
        grid-column: 2/3;
        grid-row: 1/2;
        @extend .flex-columnas;
    }


    &__info {
        @extend .flex-columnas;
        padding: 20px;
    }

    &__info p{
        width: 70vw;
        font-size: $contenido;
        font-family: $font-parrafos;
        text-align: justify;
        line-height: 30px;
        letter-spacing: 1px;
    }


    &__horarios{
        color:black;
        @extend .flex-filas;
        font-family: $font-parrafos;
        font-size: $subtitulo;
        font-weight: bolder;
        letter-spacing: 2px;
        gap:40px;
        margin-top: 20px;
    }



    }
    
