.habitacion{
    height: 50vh;



    &__portada{
        display: grid;
        height: $tamaño-encabezados;
        background-image:url("../resources/habitacion-titulo.jpg");
        @extend .background-centrado;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 1fr ;
    }

    &__portada h1{
        color: black;
        font-family: $font-portadas;
        font-size: 60px;
        @extend .text-centrado;
        text-shadow: 2px 2px 2px gray;
        grid-column: 2/3;
        grid-row: 1/2;
        @extend .flex-centrado;
    }


    &__uno{
        background-color: $color-secundario;
        color: white;

    }

    &__dos{
        background-color: $color-principal;

    }

    &__tres{
        background-color: $color-secundario;
        color: white;

    }

    &__cuatro{
        background-color: $color-principal;

    }


    &__lista{
        list-style: circle;
        line-height: 30px;
        letter-spacing: 1px;
        margin-top: 16px;
        gap: 20px;
        text-align: left;
        
    }

    &__horarios{
        font-family: $font-titulos;
        font-size: 16px;
        line-height: 30px;
        font-weight: bolder;
    }

    &__parrafo{
        @extend .flex-centrado;
        flex-direction: column;
        padding: 16px;
    }

    &__parrafo p{
        font-size: 16px;
        font-family: $font-principal;
    }

    &__imagen{
        width: 500px;
        height: 400px;
        margin: 10px 0px 10px 10px;
    }

    &__contenido{
        display: grid;
        grid-column: 2/3;
        grid-row: 1/2;
        gap: 10px;
        margin: 20px;
        @extend .flex-centrado;
    }

    &__contenido p{
        font-size: 16px;
    }

.boton{
    @extend .flex-centrado;
    flex-direction: column;
}

.info__texto{
    @extend .flex-centrado;
    flex-direction: column;

}

}