
    .portada{
        height: 70vh;
        
        &__principal{
            display: grid;
            height: $tamaño-portada;
            background-image: url("../resources/portada.jpg");
            @extend .background-centrado;
            grid-template-columns: 1fr 2fr 1fr;
            grid-template-rows: 1fr 1fr;
            margin-bottom: 20px;
            }
    
        &__informacion h1{
            font-size: 60px;
            color: black;
            font-family: 'Playfair Display', serif;
        }

        &__informacion p{
            width: 50vw;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            letter-spacing: 0px;
            text-align: justify;
            line-height: 30px;
            }

        &__contenido{
            display: flex;
            flex-direction:row;
            justify-content: center;
            align-items: center;
            padding: 16px;
        }


        &__contenido img{
            width: 800px;
            height: 600px;
            border-radius: 16px;
            margin-left: 16px;
        }
        &__contenido img:hover{
            filter: opacity(.6);
        }


        &__boton {
            grid-column: 2/3;
            grid-row: 2/3;
            @extend .flex-centrado;
            margin-bottom: 10px;
        }

        &__boton button {
            width: 120px;
            height: 50px;
        }

    }

.accordion-item{
    @extend .text-centrado;
}

.accordion-button{
    @extend .text-centrado;

}
    