.portada{
    height: 70vh;
    
        &__principal{
            display: grid;
            height: $tamaño-portada;
            background-image: url("../resources/portada.jpg");
            @extend .background-centrado;
            grid-template-columns: 1fr 2fr 1fr;
            grid-template-rows: 1fr 1fr;
        }



        &__titulo {
            font-family: $font-principal;
            grid-column: 2/3;
            grid-row: 1/2;
            color:white;
            text-shadow: 2px 1px 2px black;
            font-size: 90px;
            @extend .flex-centrado;
            
        }

        &__texto{
            @extend .flex-centrado;
            flex-direction: column;
            padding: 10px;
        }

        &__texto p{
            color: black;
            font-family: $font-principal;
            font-size: 16px;
            line-height: 30px;
            @extend .text-centrado;
            letter-spacing: 2px;
        }

        &__contenido{
            grid-column: 2/3;
            grid-row: 1/2;
            margin-bottom: 10px;
        }
        &__boton {
            grid-column: 2/3;
            grid-row: 2/3;
            @extend .flex-centrado;
            margin-bottom: 10px;

        }


        &__boton button {
            width: 120px;
            height: 50px;

        }}

.vector{
    width: 200px;
    margin-top: 20px;
    }

.texto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr ;
    gap:20px;
    margin:20px;

}



.ws{
    display: inline;
    position: sticky;
    bottom: 0px;
    right: 10px;

}

.ws__imagen{
    width: 60px;
}



.accordion-item{
    @extend .text-centrado;
}

.accordion-button{
    @extend .text-centrado;

}
