.servicios{
    height: 50vh;

    &__portada{
        display: grid;
        height: $tamaño-portada;
        background-image:url("../resources/servicios.jpg");
        @extend .background-centrado;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr ;
        margin-bottom: 20px;
    }

    &__portada h1{
        color: $color-secundario;
        font-family: $font-portadas;
        font-size: 60px;
        @extend .text-centrado;
        text-shadow: 2px 2px 2px gray;
        grid-column: 1/2;
        grid-row: 1/1;
        @extend .flex-centrado;
    }


    &__imagen{
        width:900px;
        height: 600px;
        padding: 20px;
        border-radius: 30px;
    }


    &__grid{
        display: grid;
        grid-template-columns: 1fr 2fr ;
        grid-template-rows: auto;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__grid h2{
        color: $color-secundario;
        font-size: 30px;
        font-family: 'Open Sans', sans-serif;
    }

    &__grid p{
        font-size: 16px;
        font-family: $font-parrafos;
        text-align: justify;
        line-height: 20px;
        padding: 16px;
    }
}

