.servicios{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__portada{
        display: grid;
        height: $tamaño-encabezados;
        background-image:url("../resources/contacto.jpg");
        @extend .background-centrado;
        grid-template-columns: 1fr 1fr 1fr   ;
        grid-template-rows: auto  ;
        margin-bottom: 20px;
    }

    &__portada h1{
        color: $color-principal;
        font-family:  'Playfair Display', serif;
        font-size: 60px;
        @extend .text-centrado;
        text-shadow: 2px 2px 2px black;
        grid-column: 2/3;
        grid-row: 1/2;
        @extend .flex-centrado;
    }

    
    &__titulo{
        color:black;
        font-size: 30px;
        font-family: $font-titulos;
        text-align:center;
        text-shadow: 1px 1px 2px black;
        margin-top: 20px;

    }

    &__texto{
        color: gray;
        font-family: $font-parrafos;
        padding: 16px;
        letter-spacing: 2px;
        word-spacing: 2px;
        text-align: justify;
    }

    &__imagen{
        width : 680px;
        height: 550px;
        padding: 10px;
        border-radius: 20px;
    }


    &__grid{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__grid h2{
        color: $color-secundario;
        font-size: 30px;
        font-family: $font-titulos;
    }

    &__grid p{
        font-size: 16px;
        font-family: $font-parrafos;
        text-align: justify;
        line-height: 20px;
        padding: 10px;
    }

}

