.servicios{
    height: 50vh;

    &__portada{
        display: grid;
        height: $tamaño-portada;
        background-image:url("../resources/servicios.jpg");
        @extend .background-centrado;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 1fr ;
    }

    &__portada h1{
        font-family: $font-portadas;
        font-size: 60px;
        @extend .text-centrado;
        text-shadow: 2px 2px 2px gray;
        grid-column: 2/3;
        grid-row: 1/2;
        @extend .flex-centrado;
    }

    &__img{

        width: 500px;
        height: 400px;
        padding: 10px;
    }

    &__titulo{
        font-family: $font-portadas;
        font-size: 35px;
        @extend .text-centrado;

    }

    &__texto{
        font-size: 16px;
        text-align: justify;
        line-height: 30px;

    }

    
}


