/* Extend */

.background-centrado{
    background-size: cover;
    background-position: center;
}

.flex-centrado{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-centrado{
    text-align: center;
}