/* /* Extend */

.background-centrado{
    background-size: cover;
    background-position: center;
}

.flex-columnas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-filas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

