/* Colores */
$color-principal :white;
$color-secundario : rgb(44, 48, 66); 
$color-titulo : rgb(182, 137, 115);
$color-parrafos: black;

/* Letras */

$font-titulos: 'Playfair Display', serif;
$font-parrafos:  'Playfair Display', serif;
$font-portadas: 'Parisienne', cursive;
$font-cards: 'Open Sans', sans-serif;
$font-texto :'Roboto', sans-serif;

/* Tamaños */
$tamaño-portada: 90vh;
$tamaño-encabezados: 30vh;

/* Tamaño de letra */
$portada: 3.75rem; /* 60px */
$titulos: 1.875rem; /* 30px */
$subtitulo: 1.25rem; /* 20px */
$contenido: 1rem; /* 16px */