/* Colores */
$color-principal :white;
$color-secundario : rgb(44, 48, 66); 
$color-titulo : rgb(182, 137, 115);

/* Letras */
$font-principal: 'Open Sans', sans-serif;
$font-titulos: 'Playfair Display', serif;
$font-parrafos:  'Roboto', sans-serif;
$font-portadas: 'Parisienne', cursive;

/* Tamaños */
$tamaño-portada: 90vh;
$tamaño-encabezados: 20vh;
