footer{
    background-color: $color-secundario;
    display: grid;
    grid-template-areas: "contacto enlaces redes"
                        "contacto enlaces derechos";
    padding: 24px;

    .footer {
        &__titulo {
            color: $color-principal;
            text-shadow: 3px 2px 3px black;
            font-size: $contenido;
            text-align: center;
            }

        &__enlaces {
            grid-area: enlaces;
            }

        &__redes {
            grid-area: redes;
            @extend .flex-filas;
            }

        &__derechos {
            grid-area: derechos;
            color: rgb(180, 170, 170);
            @extend .flex-columnas;
            }   

        &__redes p{
            font-size: 16px;
            }

        &__iconos {
            width: 65px;
            height: 65px;
            margin: 12px;
            }

        &__item {
            color:rgb(180, 170, 170);
            font-family: $font-cards;
            font-size: 16px;
            line-height: 30px;
            text-align: justify;
            }


    
}
}