.formulario{
    color: $color-titulo;

    &__titulo{
        text-align: center;
        color: $color-secundario;
        margin-bottom: 30px;
    }


    &__subtitulo{
        color: $color-secundario;
        font-size: $subtitulo;
        font-family:$font-titulos;
        line-height: 25px;
        text-align: center;
        letter-spacing: 0px;
        margin-top: 20px;
    }

}


