
/* Grid  */

.galeria{
    height: auto;

    &__portada{
        display: grid;
        height: $tamaño-encabezados;
        background-image: url("../resources/galeria-encabezado.jpg");
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        margin-bottom: 20px;
        }

    &__portada h1{
        color: $color-principal;
        font-family: $font-titulos;
        font-size: $portada;
        text-align: center;
        grid-column: 2/3;
        grid-row: 2/2;
        }


    &__contenedor{
        @extend .flex-filas;
        }

    &__grid{
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        grid-template-rows: auto;
        gap: 5px;
        margin: 20px 0px 20px 0px;
        }

    &__imagen img{
        width: 400px;
        height: 600px;
        border-radius: 15px;
        &:hover{
            transform: scale(1.05,1.05);
            transition: all 0.9s;
            }
        }
        

    }















