
/* Grid  */

    .galeria{
        height: auto;

        &__portada{
            display: grid;
            height: $tamaño-encabezados;
            background-image: url("../resources/galeria-encabezado.jpg");
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;
        }

        &__portada h1{
            color: $color-principal;
            font-family: $font-titulos;
            font-size: 60px;
            @extend .text-centrado;
            grid-column: 2/3;
            grid-row: 2/2;
        }
        &__subtitulo{
            font-size: 30px;
            text-align: center;
            margin-bottom: 30px;
        }

        &__contenedor{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        &__grid{
            display: grid;
            grid-template-columns: repeat(3 , 1fr);
            grid-template-rows: auto;
            gap: 10px;
            margin-bottom: 16px;

        }
        &__imagen img{
            width: 400px;
            height: 600px;
            border-radius: 5px;

        }

        &__imagen img:hover{
            transform: scale(1.10,1.10);
            transition: all 0.9s;
            }
        
        &__redes{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20px;

        }
        &__iconos{
            width: 200px;
            height: 200px;
            margin-bottom: 16px;

        }
    }















