.galeria {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 'entradahotel pasillo lobby portada-principal'
                        'mesa restaurant mesa-desayuno desayuno'
                        ' mesa restaurant mesa-desayuno desayuno';
    gap: 20px;

        .entradahotel{
            grid-area: entradahotel;
        }

        .pasillo{
            grid-area: pasillo;
        }

        .lobby{
            grid-area: lobby;
        }

        .portada-principal{
            grid-area: portada-principal;
        }

        .mesa{
            grid-area: mesa;
        }

        .restaurant{
            grid-area: restaurant;
        }

        .mesa-desayuno{
            grid-area: mesadesayuno;

        }

        .desayuno2{
            grid-area:desayuno2;
        }

        &__fotos {
            border-radius: 10px;
            height: 100%;
            gap: 20px;
        }

        &__fotos img {
            width: 100%;
            height: 100%;
            object-fit: cover;
    }

        &__portada{
            display: grid;
            height: $tamaño-portada;
            background-image:url("../resources/entrada.jpg");
            background-size: cover;
            grid-template-columns: 1fr 1fr 1fr ;
            grid-template-rows: 1fr ;
            margin-bottom: 20px;
        }
        
        &__portada h1{
            font-family: $font-portadas;
            font-size: 60px;
            text-align: center;
            text-shadow: 2px 2px 2px gray;
            grid-column: 2/3;
            grid-row: 1/2;
            display: flex;
            justify-content: center;
            align-items: center;
        }

}
