header{
    top:0px;

    .header{
        &__nav{
            background-color:rgb(168, 180, 189);
            display: flex;
            position: static;
            flex-wrap: wrap;
        }


        &__lista{
            display: flex;
            list-style: none;
            padding: 0px 16px;
            flex-wrap: wrap;
            align-items: flex-end;
            justify-content: flex-end;
            flex-grow: 1;
    
        }

        &__item{
            font-family: $font-titulos;
            font-size: $contenido;
            display: inline;
            font-weight: bold;
            letter-spacing: 2px;
            position: sticky;
            top: 0px;
            padding: 5px;
        }



        &__item a{
            color: $color-secundario;
            text-decoration: none;
        }
    }


.nav-link::before {
    content: "";
    display: block;
    position: absolute;
    top: 30px;
    width: 1px;
    height: 10px;
}

.nav-link:hover::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 30px;
    width: 80%;
    height: 10px;
    border-bottom: 3px solid $color-titulo ;
    transition: all 0.5s;
}
}
