button{
    width: 100px;
    height: 50px;
    font-family: $font-principal;
    font-size: 13px;
    background-color: $color-secundario;
    color: $color-principal;
    border: solid 1px ;
    border-radius: 16px;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;


    &:hover{
    background-color: rgb(182, 137, 115);

    }}
