
.principal{
    height: 80vh;

    &__tarjetas{
        display: grid;  
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 1fr  ;
        gap:10px;
        margin:20px;
    }

    &__servicios{
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    &__card{ 
        height: 600px;
        font-family: $font-titulos;
        @extend .flex-centrado;
        flex-direction: column;
        gap: 30px;
        border-style: none;
        padding: 10px;

    }


    &__titulo {
        color: black;
        font-size: 20px;
        font-family: $font-titulos;
        @extend .text-centrado;
        margin-bottom: 10px;
        }


    &__texto{
        font-family: $font-parrafos;
        font-size: 16px;
        letter-spacing: 1px;
        word-spacing: 2px;
        text-align: left;
        padding: 0 1rem;
        @extend .text-centrado;
        line-height: 20px;
        margin: 10px 10px 10px 0px;
    }
    }

