
.principal{
    height: 70vh;

    &__tarjetas{
        display: grid;  
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 1fr  ;
        gap:10px;
        margin:20px;
        justify-content: center;
        align-items: center;
    }

    &__servicios{
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    &__card{ 
        background-color: rgb(184, 172, 157 ) ;
        height: 500px;
        font-family: $font-titulos;
        font-style: normal;
        @extend .flex-centrado;
        flex-direction: column;
        transition: all 0.10s;
        gap: 30px;
        border-style: none;
        padding: 20px;

    }


    &__titulo {
        font-size: 20px;
        font-family: $font-titulos;
        color: black;
        @extend .text-centrado;
        margin-bottom: 10px;
        }


    &__texto{
        font-family: $font-principal;
        font-size: 16px;
        letter-spacing: 1px;
        text-align: left;
        color:black;
        padding: 0 1rem;
        @extend .text-centrado;
        line-height: 20px;
        margin: 10px 10px 10px 0px;
    }

    }


