
.carousel{
    display: flex;


        &__altura{
            height: 70vh;
        
        }
        
        
        &__subtitulo{
            color: white;
            font-size: 20px;
            line-height: 40px;
            text-align: center;
        } 

}
