
.principal{
    height: 50vh;

    &__tarjetas{
        display: grid;  
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr ;
        gap:10px;
        margin:20px;
        justify-content: center;
        align-items: center;

    }

    &__card{ 
        font-family: $font-titulos;
        font-style: normal;
        background-color: $color-secundario;
        @extend .flex-centrado;
        flex-direction: column;
        transition: all 0.10s;
        margin: 20px;
        gap: 10px;
        &:hover{
        transform: translate(5px);
        box-shadow: 0 12px 16px rgb(44, 48, 66);
    }}



    &__titulo {
        color:white;
        @extend .text-centrado;
        margin-bottom: 10px;

        }


    &__texto{
        font-family: $font-principal;
        font-size: 16px;
        letter-spacing: 0px;
        color:$color-principal;
        padding: 0 1rem;
        font-size: 16px;
        @extend .text-centrado;
        line-height: 20px;
        margin: 10px 10px 10px 0px;
    }
    }

    .card-title{
        font-size: 20px;
        color: black;

    }

    .card-text{
        font-size: 16px;
        text-align: left;
        line-height: 25px;

    }


