
ul{
    list-style: none;
    color: white;
}


a {
    text-decoration: none;
    color: lightgray;
}


h1{
    color: $color-titulo;
    font-size: 35px;
    font-family: $font-titulos;
    text-shadow: 2px 1px 2px black;
    text-align: center;
    letter-spacing: 5px;
    margin-bottom: 30px;
}

h2{
    color: $color-titulo;
    font-family: $font-titulos;
    font-size: 25px;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 20px;

}

h3{
    color: $color-secundario;
    font-size: 16px;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 3px;
    padding: 16px;
}

span{
    text-align: center;
}

